<ion-header [translucent]="true">
  <ion-toolbar class="barra"> 
    <ion-buttons slot="end">
  <ion-button (click)="navegar2()">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="navegar()">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-button>
</ion-buttons>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/270px-Logo_DuocUC.svg.png" alt="Logo duoc" class="imagen">
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true" class="white-background">
  <h1 class="bienvenido">Bienvenido {{ usuario }}</h1>
  <h1 class="tituloduoc"><strong>¿Que es Duoc Uc?</strong></h1>
  <p>Duoc UC es una Institución Católica de Educación Superior que, participando a la misión <br>
     evangelizadora de la Iglesia, está al servicio del desarrollo de la sociedad por medio de la formación de personas,<br>
      técnicos y profesionales, capaces de desplegar un proyecto de vida integral con una impronta ético-cristiana.</p>
    <img src="https://estandarlabs.gruposentte.cl/app-assets/images/fondo-azul.jpg" alt="duoc">
  <ion-header collapse="condense">
    
    

  </ion-header>
