<ion-header [translucent]="true">
  <ion-toolbar class="barra"> 
    <ion-button slot="end" class="boton3" (click)="navegar2()"> volver </ion-button>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/270px-Logo_DuocUC.svg.png" alt="Logo duoc" class="imagen">
    <ion-title class="centrado">Cambiar Contraseña</ion-title>
  </ion-toolbar> 
</ion-header>


  <ion-content  [fullscreen]="true" class="white-background">

    <ion-item class="input" lines="none">
     <ion-input  [(ngModel)]="mdl_user" label="Usuario" placeholder="Ingresa tu Usuario"></ion-input>
    </ion-item>
    <ion-item class="input" lines="none">
     <ion-input [(ngModel)]="mdl_pass" type="password" label="Contraseña" placeholder="Ingresa Contraseña"></ion-input>
    </ion-item>
    <ion-item class="input" lines="none">
     <ion-input  [(ngModel)]="mdl_pass2" type="password" label="Contraseña Nueva" placeholder="Ingresa Contraseña Nueva"></ion-input>
    </ion-item>
    <ion-item class="input" lines="none">
      <ion-input  [(ngModel)]="mdl_confirmarpass2" type="password" label="Contraseña Nueva" placeholder="Confirma Contraseña Nueva"></ion-input>
     </ion-item>

    <ion-button shape="round"  expand="block" (click)="cambiarcontrasena()" class="boton"> Cambiar Contraseña</ion-button>

